.advantages__title {
  font-style: 400;
  font-weight: 800;
  font-size: 58px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--dark-text-bg-color);
}
.advantages__title--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container__advant {
  background-color: #e5e5e5;
}
// ====================================================
// ====================================================
.advantages {
  display: flex;

  // Mobile 768
  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 0 32px;
  }

  // Tablet 768
  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  // Desctop 1366
  @media screen and (min-width: 1366px) {
    display: flex;
  }
}

.advantages__item {
  @media screen and (max-width: 1365px) {
    display: inline-flex;
    align-items: center;
    min-width: 215px;
    height: 69px;
  }

  @media screen and (min-width: 1366px) {
    position: relative;
    display: flex;
  }
}
.advantages__item:not(:last-child) {
  // Mobile 768
  @media screen and (max-width: 767px) {
    margin-bottom: 21px;
  }
  @media screen and (min-width: 1366px) {
    margin-right: 348px;
  }
}

.advantages__item::before {
  @media screen and (max-width: 1365px) {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  // Desktop >1366
  @media screen and (min-width: 1366px) {
    min-width: 100px;
    height: 102px;
  }
}

.advantages__thumb {
  @media screen and (max-width: 1365px) {
    display: none;
  }
}

// -===================---------------==================
//   // Tablet 768
//   @media screen and (min-width: 768px) {
//     flex-basis: calc((100% - 21px) / 3);
//     margin-bottom: 26px;
//   }
//   //Desktop >1366
//   @media screen and (min-width: 1366px) {
//     position: relative;
//   }
// }

.advantages__description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  color: var(--dark-text-bg-color);

  // Desktop >1366
  @media screen and (min-width: 1366px) {
    position: absolute;
    font-size: 20px;
    line-height: 1.65;
    width: 240px;
    height: 74px;
  }
}

.advantages__item--student::before {
  @media screen and (max-width: 1365px) {
    background-image: url("../images/hero/adv-group1.svg");
  }
}

.advantages__item--mobilelearning::before {
  @media screen and (max-width: 1365px) {
    background-image: url("../images/hero/adv-group2.svg");
  }
}
.advantages__item--insurance::before {
  @media screen and (max-width: 1365px) {
    background-image: url("../images/hero/adv-group3.svg");
  }
}
