:root {
  --main-font: "Montserrat", sans-serif;
  --title-text-color: #111518;
  --accent-color: #ff6b09;
  --primary-white-color: #ffffff;
  --second-color: #b9b9b9;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
